<html lang="en-US" xmlns:th="http://www.typmeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Develop</title>
    <link rel="stylesheet" href="/css/test.css" onerror="_failed(this)" />
</head>

<body class="">
<div id="board" class="u-fancy-scrollbar">
    <div class="list-wrapper">
        <div class="list js-list-content">
            <div class="list-header">
                <textarea class="list-header-name mod-list-name" aria-label="To Do" spellcheck="false" dir="auto" maxlength="512" style="overflow: hidden; overflow-wrap: break-word; height: 28px;">To Do</textarea>
            </div>
            <div class="list-cards" th:each="item : ${items}">
                <a class="list-card">
                    <div class="list-card-details" th:attr="onclick=|onClick('${item.id}')|">
                        <span class="list-card-title" dir="auto" th:text="${item.title}">
                            <span class="card-short-id hide" th:text="${item.id}">#555</span>
                        </span>
                        <span class="list-card-due-date" dir="auto" th:text="${#dates.format(item.dueDate, 'yyyy-MM-dd')}"></span>
                    </div>
                </a>
            </div>
            <script type="text/javascript">
                function onClick(id) {
                    //location.href = '../test4.html'
                    url = '../test4.html'

                    // 다이얼로그를 생성합니다.
                    $('<div id="DialogDiv">').dialog({

                        // 커스텀 스타일을 줍니다.
                        dialogClass: 'custom-dialog-style',

                        // 모달 다이얼로그로 생성합니다.
                        modal: true,

                        // 다이얼로그 열기 콜백
                        open: function () {
                            // 내용을 불러 옵니다.
                            $(this).load(url);
                        },

                        // 닫기 콜백
                        close: function (e) {
                            $(this).empty();
                            $(this).dialog('destroy');
                        }
                    });
                }
            </script>
        </div>
    </div>
</div>
</body>
</html>