<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <label for="nick">nick</label>
    <input type="text" id="nick" name="nick" placeholder="nick를 입력하세요."> <br>
</div>
<button id="search" onclick="onClick();">조회</button>
<script>
        function onClick() {
            const nick = document.getElementById('nick').value;

            location.href = '/item/items/' + nick;
        }
    </script>
</body>
</html>